_build.*
*.dylib
*.o
*.os
*.pyc
*.so
.cache
.pytest_cache
pytest_session.txt
.coverage
.sconf_temp
.sconsign.dblite
config.log
examples/meas_shape
tests/testshape
tests/.tests
ups/*.cfgc
python/lsst/meas/extensions/shapeHSM/version.py
.vscode
