
# /
/config.log
/.scon*

# /examples/
/examples/meas_shape

# /python/lsst/meas/extensions/shapeHSM/
/python/lsst/meas/extensions/shapeHSM/hsmLib.py
/python/lsst/meas/extensions/shapeHSM/hsmLib_wrap.cc
/python/lsst/meas/extensions/shapeHSM/hsmLib_wrap.os

# /src/
/src/*.os

# /tests/
/tests/testshape
/tests/.tests
